image: registry.gitlab.com/snopek-games/godot-builder-docker:latest

variables:
  EXPORT_NAME: retro-tank-party
  ITCHIO_NAME: dsnopek/retro-tank-party
  APPLICATION_NAME: "Retro Tank Party"
  APPLICATION_URL: "https://www.snopekgames.com"
  GODOT_SOURCE_DIR: godot
  GODOT_BUILD_DIR: build/godot

stages:
  - build
  - export
  - sign
  - deploy

build-godot:
  image: registry.gitlab.com/snopek-games/godot-builder-docker:latest
  stage: build
  tags:
    - multicore
  variables:
    SCONS_OPTS: "debug_symbols=yes separate_debug_symbols=yes module_godotsteam_enabled=no"
  script:
    - podman login "$GODOT_BUILD_REGISTRY" $PODMAN_OPTS --username="$GODOT_BUILD_REGISTRY_USERNAME" --password="$GODOT_BUILD_REGISTRY_PASSWORD"
    - rm -rf build/godot/bin
    - OVERWRITE_EXISTNG=yes ./scripts/build-godot.sh
    # Remove the bin directory so it doesn't get captured in the cache.
    - rm -rf build/godot/bin
  dependencies: []
  rules:
    - if: '$CI_COMMIT_BRANCH == "steam" || $CI_COMMIT_BRANCH =~ /^steam-.*$/'
      when: never
    - if: '$FORCE_BUILD_GODOT == "yes" || $CI_COMMIT_MESSAGE =~ /\[build godot\]/'
      variables:
        FORCE_REBUILD_GODOT: "yes"
    - changes:
      - godot/*
      - godot/**/*
  parallel:
    matrix:
      - BUILD_TYPE: server-tools
      - BUILD_TYPE: linux-64
      - BUILD_TYPE: windows-64
      - BUILD_TYPE: macosx-universal
      - BUILD_TYPE: html5
#  cache:
#    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
#    paths:
#      - build/godot

.export_before_script: &export_before_script
  before_script:
    # Put in the production Nakama info
    - ./scripts/generate-build-variables.sh

windows:
  <<: *export_before_script
  stage: export
  script:
    - BUILD_TYPE=server-tools DOWNLOAD_ONLY=yes ./scripts/build-godot.sh
    - BUILD_TYPE=windows-64   DOWNLOAD_ONLY=yes ./scripts/build-godot.sh

    # Pull in the WebRTC GDNative plugin
    - ./scripts/download-webrtc-plugin.sh windows release

    # Delete the debug version of the plugin.
    - rm -rf webrtc_debug/

    # Change to our custom export template.
    - ./scripts/update-export-setting.py export_presets.cfg preset.0.options custom_template/debug "\"$PWD/build/godot/bin/godot.windows.opt.64.exe\""
    - ./scripts/update-export-setting.py export_presets.cfg preset.0.options custom_template/release "\"$PWD/build/godot/bin/godot.windows.opt.64.exe\""

    # Export!
    - mkdir -v -p build/windows
    - build/godot/bin/godot_server.x11.opt.tools.64 -v --export "Windows Desktop" ./build/windows/$EXPORT_NAME.exe
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/windows
  except:
    - steam
    - /^steam-.*$/

windows-signed:
  stage: sign
  image: ubuntu:20.04
  dependencies:
    - windows
  needs:
    - windows
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends osslsigncode
  script:
    - cp -a ./build/windows ./build/windows-signed
    - ./scripts/windows-sign.sh ./build/windows-signed/$EXPORT_NAME.exe "$APPLICATION_NAME" "$APPLICATION_URL"
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/windows-signed
  only:
    - master

linux:
  <<: *export_before_script
  stage: export
  script:
    - BUILD_TYPE=server-tools DOWNLOAD_ONLY=yes ./scripts/build-godot.sh
    - BUILD_TYPE=linux-64     DOWNLOAD_ONLY=yes ./scripts/build-godot.sh

    # Pull in the WebRTC GDNative plugin
    - ./scripts/download-webrtc-plugin.sh linux release

    # Delete the debug version of the plugin.
    - rm -rf webrtc_debug/

    # Change to our custom export template.
    - ./scripts/update-export-setting.py export_presets.cfg preset.1.options custom_template/debug "\"$PWD/build/godot/bin/godot.x11.opt.64\""
    - ./scripts/update-export-setting.py export_presets.cfg preset.1.options custom_template/release "\"$PWD/build/godot/bin/godot.x11.opt.64\""

    # Export!
    - mkdir -v -p build/linux
    - build/godot/bin/godot_server.x11.opt.tools.64 -v --export "Linux/X11" ./build/linux/$EXPORT_NAME.x86_64
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/linux
  except:
    - steam
    - /^steam-.*$/

macosx:
  <<: *export_before_script
  stage: export
  script:
    - BUILD_TYPE=server-tools     DOWNLOAD_ONLY=yes ./scripts/build-godot.sh
    - BUILD_TYPE=macosx-universal DOWNLOAD_ONLY=yes ./scripts/build-godot.sh

    # Pull in the WebRTC GDNative plugin
    - ./scripts/download-webrtc-plugin.sh macosx release

    # Delete the debug version of the plugin.
    - rm -rf webrtc_debug/

    # Change to our custom export template.
    - ./scripts/update-export-setting.py export_presets.cfg preset.2.options custom_template/debug "\"$PWD/build/godot/bin/osx.zip\""
    - ./scripts/update-export-setting.py export_presets.cfg preset.2.options custom_template/release "\"$PWD/build/godot/bin/osx.zip\""

    # Export!
    - mkdir -v -p build/macosx
    - build/godot/bin/godot_server.x11.opt.tools.64 -v --export "Mac OSX" ./build/macosx/$EXPORT_NAME.zip

    # Extract the zip file since GitLab CI will zip it up again.
    - (cd ./build/macosx && unzip -a $EXPORT_NAME.zip && rm $EXPORT_NAME.zip)
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/macosx
  except:
    - steam
    - /^steam-.*$/

macosx-signed:
  stage: sign
  tags:
    - osx
    - shell
  dependencies:
    - macosx
  needs:
    - macosx
  script:
    - mkdir -v -p build/macosx-signed
    - >
      APP_PATH=$(find ./build/macosx/ -name \*.app -print -quit);
      APP_NAME=$(basename "$APP_PATH");
      cp -a "./build/macosx/$APP_NAME" ./build/macosx-signed/ &&
      ./scripts/macosx-notarize.sh "./build/macosx-signed/$APP_NAME";
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/macosx-signed
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_COMMIT_MESSAGE =~ /\[sign\]/'

web:
  <<: *export_before_script
  stage: export
  script:
    - BUILD_TYPE=server-tools DOWNLOAD_ONLY=yes ./scripts/build-godot.sh
    - BUILD_TYPE=html5        DOWNLOAD_ONLY=yes ./scripts/build-godot.sh

    # Change to our custom export template.
    - ./scripts/update-export-setting.py export_presets.cfg preset.3.options custom_template/debug "\"$PWD/build/godot/bin/godot.javascript.opt.zip\""
    - ./scripts/update-export-setting.py export_presets.cfg preset.3.options custom_template/release "\"$PWD/build/godot/bin/godot.javascript.opt.zip\""

    - mkdir -v -p build/web
    - build/godot/bin/godot_server.x11.opt.tools.64 -v --export "HTML5" ./build/web/index.html
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/web
  except:
    - steam
    - /^steam-.*$/

web-review:
  stage: deploy
  dependencies:
    - web
  needs:
    - web
  script:
    # Stash SSH key info.
    - mkdir -p ~/.ssh
    - echo "$SSH_DEPLOY_KEY" >> ~/.ssh/id_rsa
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 0700 ~/.ssh
    - chmod 0600 ~/.ssh/id_rsa
    - chmod 0644 ~/.ssh/known_hosts

    # Push build up to the server.
    - sudo python3 -m pip install paramiko
    - scripts/upload-build.py build/web buildbot registry.snopekgames.com "/app/registry/static/uncached/builds/$CI_PROJECT_NAME/$CI_COMMIT_REF_NAME"
  environment:
    name: "review/$CI_COMMIT_REF_NAME"
    url: "https://static.snopekgames.com/uncached/builds/$CI_PROJECT_NAME/$CI_COMMIT_REF_NAME/index.html"
  except:
    - devel
    - master
    - steam
    - /^steam-.*$/

pages:
  stage: deploy
  dependencies:
    - web
  needs:
    - web
  script:
    - rm -rf public
    - cp -r build/web public
  artifacts:
    paths:
      - public
  only:
   - devel

itch:
  stage: deploy
  dependencies:
    - web
    - linux
    - windows-signed
    - macosx-signed
  script:
    - butler push build/web $ITCHIO_NAME:web-stable
    - butler push build/linux $ITCHIO_NAME:linux-stable
    - butler push build/windows-signed $ITCHIO_NAME:windows-stable
    - butler push build/macosx-signed $ITCHIO_NAME:macosx-stable
  only:
    - master

build-godot-steam:
  image: registry.gitlab.com/snopek-games/godot-builder-docker:latest
  stage: build
  tags:
    - multicore
  variables:
    GODOT_ARCHIVE_SUFFIX: "steam"
    SCONS_OPTS: "debug_symbols=yes separate_debug_symbols=yes module_godotsteam_enabled=yes"
  script:
    - export GODOT_SOURCE_HASH=$(python3 scripts/godot/calculate-hash.py godot)
    - podman login "$GODOT_BUILD_REGISTRY" $PODMAN_OPTS --username="$GODOT_BUILD_REGISTRY_USERNAME" --password="$GODOT_BUILD_REGISTRY_PASSWORD"
    - rm -rf build/godot/bin
    - ./scripts/download-steam-sdk.sh public/ redistributable_bin/ godot/modules/godotsteam/sdk/
    - ls godot/modules/godotsteam/sdk/
    - OVERWRITE_EXISTNG=yes ./scripts/build-godot.sh
    # Remove the bin directory so it doesn't get captured in the cache.
    - rm -rf build/godot/bin
  dependencies: []
  rules:
    - if: '$CI_COMMIT_BRANCH != "master" && $CI_COMMIT_BRANCH != "steam" && $CI_COMMIT_BRANCH !~ /^steam-.*$/'
      when: never
    - if: '$FORCE_BUILD_GODOT == "yes" || $CI_COMMIT_MESSAGE =~ /\[build godot\]/'
      variables:
        FORCE_REBUILD_GODOT: "yes"
    - changes:
      - godot/*
      - godot/**/*
  parallel:
    matrix:
      - BUILD_TYPE: server-tools
      - BUILD_TYPE: linux-64
      - BUILD_TYPE: macosx-x86-64
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - build/godot

build-godot-steam-windows:
  image: registry.snopekgames.com/godot/msvc
  stage: build
  tags:
    - windows-docker
  variables:
    GODOT_ARCHIVE_SUFFIX: "steam"
    SCONS_OPTS: "module_godotsteam_enabled=yes"
  script:
    - python scripts/godot/build-msvc-steam.py
  dependencies: []
  rules:
    - if: '$CI_COMMIT_BRANCH != "master" && $CI_COMMIT_BRANCH != "steam" && $CI_COMMIT_BRANCH !~ /^steam-.*$/'
      when: never
    - if: '$FORCE_BUILD_GODOT == "yes" || $CI_COMMIT_MESSAGE =~ /\[build godot\]/'
      variables:
        FORCE_REBUILD_GODOT: "yes"
    - changes:
      - godot/*
      - godot/**/*
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - build/godot

windows-steam:
  <<: *export_before_script
  stage: export
  variables:
    GODOT_ARCHIVE_SUFFIX: "steam"
  script:
    - BUILD_TYPE=server-tools DOWNLOAD_ONLY=yes ./scripts/build-godot.sh
    - BUILD_TYPE=windows-msvc DOWNLOAD_ONLY=yes ./scripts/build-godot.sh

    # The steam library is needed to run our server-tools version of Godot too.
    - ./scripts/download-steam-sdk.sh public/ redistributable_bin/ godot/modules/godotsteam/sdk/
    - export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$PWD/godot/modules/godotsteam/sdk/redistributable_bin/linux64/"

    # Pull in the WebRTC GDNative plugin
    - ./scripts/download-webrtc-plugin.sh windows release

    # Delete the debug version of the plugin.
    - rm -rf webrtc_debug/

    # Change to our custom export template.
    - ./scripts/update-export-setting.py export_presets.cfg preset.4.options custom_template/debug "\"$PWD/build/godot/bin/godot.windows.opt.64.exe\""
    - ./scripts/update-export-setting.py export_presets.cfg preset.4.options custom_template/release "\"$PWD/build/godot/bin/godot.windows.opt.64.exe\""

    # Export!
    - mkdir -v -p build/windows-steam
    - build/godot/bin/godot_server.x11.opt.tools.64 -v --export "Windows Desktop (Steam)" ./build/windows-steam/$EXPORT_NAME.exe
    - cp godot/modules/godotsteam/sdk/redistributable_bin/win64/steam_api64.dll ./build/windows-steam/
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/windows-steam
  only:
    - master
    - steam
    - /^steam-.*$/

windows-steam-signed:
  stage: sign
  image: ubuntu:20.04
  dependencies:
    - windows-steam
  needs:
    - windows-steam
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends osslsigncode
  script:
    - cp -a ./build/windows-steam ./build/windows-steam-signed
    - ./scripts/windows-sign.sh ./build/windows-steam-signed/$EXPORT_NAME.exe "$APPLICATION_NAME" "$APPLICATION_URL"
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/windows-steam-signed
  only:
    - master
    - steam
    - /^steam-.*$/

linux-steam:
  <<: *export_before_script
  stage: export
  variables:
    GODOT_ARCHIVE_SUFFIX: "steam"
  script:
    - BUILD_TYPE=server-tools DOWNLOAD_ONLY=yes ./scripts/build-godot.sh
    - BUILD_TYPE=linux-64     DOWNLOAD_ONLY=yes ./scripts/build-godot.sh

    # The steam library is needed to run our server-tools version of Godot too.
    - ./scripts/download-steam-sdk.sh public/ redistributable_bin/ godot/modules/godotsteam/sdk/
    - export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$PWD/godot/modules/godotsteam/sdk/redistributable_bin/linux64/"

    # Pull in the WebRTC GDNative plugin
    - ./scripts/download-webrtc-plugin.sh linux release

    # Delete the debug version of the plugin.
    - rm -rf webrtc_debug/

    # Change to our custom export template.
    - ./scripts/update-export-setting.py export_presets.cfg preset.5.options custom_template/debug "\"$PWD/build/godot/bin/godot.x11.opt.64\""
    - ./scripts/update-export-setting.py export_presets.cfg preset.5.options custom_template/release "\"$PWD/build/godot/bin/godot.x11.opt.64\""

    # Export!
    - mkdir -v -p build/linux-steam
    - build/godot/bin/godot_server.x11.opt.tools.64 -v --export "Linux/X11 (Steam)" ./build/linux-steam/$EXPORT_NAME.x86_64
    - cp godot/modules/godotsteam/sdk/redistributable_bin/linux64/libsteam_api.so ./build/linux-steam/
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/linux-steam
  only:
    - master
    - steam
    - /^steam-.*$/

macosx-steam:
  <<: *export_before_script
  stage: export
  variables:
    GODOT_ARCHIVE_SUFFIX: "steam"
  script:
    - BUILD_TYPE=server-tools  DOWNLOAD_ONLY=yes ./scripts/build-godot.sh
    - BUILD_TYPE=macosx-x86-64 DOWNLOAD_ONLY=yes ./scripts/build-godot.sh

    # The steam library is needed to run our server-tools version of Godot too.
    - ./scripts/download-steam-sdk.sh public/ redistributable_bin/ godot/modules/godotsteam/sdk/
    - export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$PWD/godot/modules/godotsteam/sdk/redistributable_bin/linux64/"

    # Pull in the WebRTC GDNative plugin
    - ./scripts/download-webrtc-plugin.sh macosx release

    # Delete the debug version of the plugin.
    - rm -rf webrtc_debug/

    # Change to our custom export template.
    - ./scripts/update-export-setting.py export_presets.cfg preset.6.options custom_template/debug "\"$PWD/build/godot/bin/osx.zip\""
    - ./scripts/update-export-setting.py export_presets.cfg preset.6.options custom_template/release "\"$PWD/build/godot/bin/osx.zip\""

    # Export!
    - mkdir -v -p build/macosx-steam
    - build/godot/bin/godot_server.x11.opt.tools.64 -v --export "Mac OSX (Steam)" ./build/macosx-steam/$EXPORT_NAME.zip

    # Extract the zip file since GitLab CI will zip it up again.
    - (cd ./build/macosx-steam && unzip -a $EXPORT_NAME.zip && rm $EXPORT_NAME.zip)
    - >
      APP_PATH=$(find ./build/macosx-steam/ -name \*.app -print -quit);
      APP_NAME=$(basename "$APP_PATH");
      cp godot/modules/godotsteam/sdk/redistributable_bin/osx/libsteam_api.dylib "./build/macosx-steam/$APP_NAME/Contents/MacOS/";
      rm -f "./build/macosx-steam/$APP_NAME/Contents/MacOS/steam_appid.txt";
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/macosx-steam
  only:
    - master
    - steam
    - /^steam-.*$/

macosx-steam-signed:
  stage: sign
  tags:
    - osx
    - shell
  dependencies:
    - macosx-steam
  needs:
    - macosx-steam
  script:
    - mkdir -v -p build/macosx-steam-signed
    - >
      APP_PATH=$(find ./build/macosx-steam/ -name \*.app -print -quit);
      APP_NAME=$(basename "$APP_PATH");
      cp -a "./build/macosx-steam/$APP_NAME" ./build/macosx-steam-signed/ &&
      ./scripts/macosx-notarize.sh "./build/macosx-steam-signed/$APP_NAME" "$PWD/scripts/steam/macosx-entitlements.plist";
  artifacts:
    name: $EXPORT_NAME-$CI_JOB_NAME
    paths:
      - build/macosx-steam-signed
  only:
    - master
    - steam
    - /^steam-.*$/

steam:
  stage: deploy
  image: cm2network/steamcmd
  dependencies:
    - windows-steam-signed
    - linux-steam
    - macosx-steam-signed
  script:
    # Copy config and sentry files from the cache if they exist
    - >
      [ ! -d ./steam_cache ] && mkdir ./steam_cache;
      cp ./steam_cache/cache.vdf /home/steam/Steam/config/ 2>/dev/null || echo "No cached config file";
      cp ./steam_cache/ssfn* /home/steam/Steam/ 2>/dev/null || echo "No cached sentry file";
    
    # Update the build VDF with correct branch information.
    - >
      case "$CI_COMMIT_REF_NAME" in
        steam-*)
          sed -i -e "s/STEAM_BRANCH/${CI_COMMIT_REF_NAME:6}/" scripts/steam/app_build_1568570.vdf;
          ;;
        steam|master)
          sed -i -e "s/STEAM_BRANCH/beta/" scripts/steam/app_build_1568570.vdf;
          ;;
      esac;
      sed -i -e "s/STEAM_DESCRIPTION/${CI_COMMIT_REF_NAME} - ${CI_COMMIT_SHORT_SHA}/" scripts/steam/app_build_1568570.vdf;

    # Push build to Steam
    - /home/steam/steamcmd/steamcmd.sh +set_steam_guard_code "$STEAM_GUARD_CODE" +login "$STEAM_BUILD_USERNAME" "$STEAM_BUILD_PASSWORD" +run_app_build "$PWD/scripts/steam/app_build_1568570.vdf" +quit

    # Copy config and setry files into the cache
    - cp /home/steam/Steam/config/config.vdf /home/steam/Steam/ssfn* ./steam_cache/
  cache:
    paths:
      - ./steam_cache/
      - ./steam_build_output/
  only:
    - master
    - steam
    - /^steam-.*$/

